@page "/"

<div class="row justify-content-center ">
    <div class="col-lg-4 col-md-12 text-center">
        <div class="card bg-dark" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Welcome to my app!</h5>
            <p class="card-text">
                    Would you like to <a href="/addUser">registration</a>?
            </p>
            </div>
        </div>
    </div>
</div>