@page "/404"

<div class="position-absolute top-50 start-50 translate-middle">
	<h3>
		<span class="material-symbols-outlined d-inline-block px-2">warning</span> 404 Not Found
	</h3>
	<p>Извините, такого компонента нет.</p>
</div>