<div class="sidebar close">
    <div class="container-fluid">
       <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
          <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
       </NavLink>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/users">
            <i class='bx bx-collection' ></i>
            <span class="link_name">Users</span>
        </a>
        <ul class="sub-menu blank">
          <li>
              <NavLink class="nav-link" href="users">
                <a class="link_name" href="#">All users</a>
              </NavLink>
          </li>
          <li>              
              <NavLink class="nav-link" href="addUser">
                <a class="link_name" href="#">Add user</a>
              </NavLink>
          </li>
        </ul>
      </li>
    </ul>
</div>
